.mainWrapper {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}

.sectionWrapper {
  opacity: 100;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
}

.footerSection {
  background-color: #ffffff;
  height: 700px;
}

.sectionWrapperFadeIn {
  opacity: 0;
}

.whatWeOfferContainer {
  display: flex;
  background-color: #516750;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.whatWeOfferSubContainer {
  padding: 2rem calc(50% - 600px);
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100%;
}

.whatWeOfferSubContainer p {
  font-size: 18px;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}

.logoContainer {
  opacity: 100;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logoContainerFadeIn {
  opacity: 0;
}

.logoScaleOut {
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    2.4s both;
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2.4s
    both;
  /* border: 2px solid purple; */
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

.logo {
  height: 12.5rem;
}

.carouselSection {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.carouselSection li {
  display: flex;
  justify-content: center;
}

.contactSection {
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
  /* border: 2px solid red; */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.listSection {
  /* border: 2px solid yellow; */
  display: flex;
  /* background-color: black; */
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listSubContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5625rem;
  text-align: center;
  color: white;
  width: 100%;
  height: 400px;
}

/* TABLET */

@media (min-width: 48rem) and (max-width: 64rem) {
  .logoContainer {
    padding-top: 15rem;
  }

  .contactSection {
    padding-top: 7.25rem;
  }
  .whatWeOfferContainer {
  }
  .carouselSection {
  }
}

/* LAPTOP DESKTOP */

@media (min-width: 64.0625rem) and (max-width: 80rem) {
  .logoContainer {
    padding-top: 15rem;
  }

  .contactSection {
    padding-top: 7.25rem;
  }

  .carouselSection {
  }
  .whatWeOfferContainer {
  }
  .listSection {
    height: 50rem;
  }
}

/* LARGE SCREENS */

@media (min-width: 80.0625rem) {
  .logoContainer {
    padding-top: 15rem;
  }

  .contactSection {
    padding-top: 7.25rem;
  }
  .carouselSection {
  }
  .whatWeOfferContainer {
  }
  .listSection {
    height: 50rem;
  }
}
