.mainWrapper {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}

.logoContainer {
  opacity: 100;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logoContainerFadeIn {
  opacity: 0;
}

.logoScaleOut {
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    2.4s both;
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2.4s
    both;
  /* border: 2px solid purple; */
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

.logo {
  height: 12.5rem;
}

/* TABLET */

@media (min-width: 48rem) and (max-width: 64rem) {
}

/* LAPTOP DESKTOP */

@media (min-width: 64.0625rem) and (max-width: 80rem) {
}

/* LARGE SCREENS */

@media (min-width: 80.0625rem) {
}
