.wrapper {
  width: 100%;
}
.info {
  color: black;
  padding: 0.5rem 0.5rem 3rem 0.5rem;
}

.icon {
  color: black;
  font-size: 10vw;
  margin-bottom: 1rem;
}

.heading {
  color: black;
  margin: 0;
}

.cookie {
  color: #9d7e67;
}

.leaf {
  color: #2d5a27;
}

.coffee {
  color: #6f4e37;
}

.nonCarouselWrapper {
  display: none;
}

/* TABLET */

@media (min-width: 48rem) and (max-width: 64rem) {
  .wrapper {
    width: 50%;
  }
  .carouselWrapper {
    display: none;
  }
  .nonCarouselWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

/* LAPTOP DESKTOP */

@media (min-width: 64.0625rem) and (max-width: 80rem) {
  .wrapper {
    width: 50%;
  }
  .carouselWrapper {
    display: none;
  }
  .nonCarouselWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

/* LARGE SCREENS */

@media (min-width: 80.0625rem) {
  .wrapper {
    width: 50%;
  }
  .carouselWrapper {
    display: none;
  }
  .nonCarouselWrapper {
    display: flex;
  }
}
