.sectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 100;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
}

.sectionWrapperFadeIn {
  opacity: 0;
}
.heroContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 12rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 6.125rem;
}

.flipContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.aboutContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.aboutContainer p {
  text-align: center;
}

#flip h1:first-child {
  animation: show 6s linear infinite alternate;
}

.heroContainer h1 {
  font-family: 'Alegreya Sans';
}

.heroSubContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 50px;
}

.heroSubContainer h1 {
  display: inline-block;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  white-space: nowrap;
  font-family: 'Alegreya Sans';
}

@keyframes show {
  0%,
  100% {
    margin-top: -270px;
  }
  10% {
    margin-top: -180px;
  }
  40% {
    margin-top: -180px;
  }
  50% {
    margin-top: -90px;
  }
  80% {
    margin-top: -90px;
  }
  90%,
  99.99% {
    margin-top: 0;
  }
}

/* TABLET */

@media (min-width: 48rem) and (max-width: 64rem) {
  .heroContainer {
    padding-top: 12rem;
    padding: 12rem calc(50% - 600px) 0;
  }
}

/* LAPTOP DESKTOP */

@media (min-width: 64.0625rem) and (max-width: 80rem) {
  .heroContainer {
    padding-top: 12rem;
    padding: 12rem calc(50% - 600px) 0;
  }
}

/* LARGE SCREENS */

@media (min-width: 80.0625rem) {
  .heroContainer {
    padding-top: 12rem;
    padding: 12rem calc(50% - 600px) 0;
  }
}
