.navContainer {
  position: fixed;
  width: 100%;
  left: -100%;
  top: 0;
  height: 100vh;
  background-color: #ffffff;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  z-index: 9998;
}

.navActive {
  left: 0;
}

.mobile_btn {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  padding: 1rem;
  cursor: pointer;
  z-index: 9999;
}

.icon {
  color: black;
}

.linkWrapper {
  margin: auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.linkWrapper div {
  color: black;
  padding: 1rem;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.linkWrapper div:hover {
  cursor: pointer;
  color: red;
}

.linkWrapper a {
  text-decoration: none;
  color: black;
}

.logoContainer {
  position: absolute;
  top: 10%;
  left: 25%;
}

.logo {
  height: 10.125rem;
}

/* TABLET */

@media (min-width: 48rem) and (max-width: 64rem){
  .mobile_btn {
    display: none;
  }
  .navContainer {
    height: 7rem;
    left: 0;
  }

  .logoContainer {
    display: none;
  }

  .linkWrapper {
    flex-direction: row;
    width: 100%;
  }

  .linkWrapper div {
    padding: 0 7rem;
  }
}

/* LAPTOP DESKTOP */

@media (min-width: 64.0625rem) and (max-width: 80rem) {
  body {
    border: 2px solid green;
  }
  .mobile_btn {
    display: none;
  }
  .navContainer {
    height: 7rem;
    left: 0;
  }

  .logoContainer {
    display: none;
  }

  .linkWrapper {
    flex-direction: row;
    width: 100%;
  }

  .linkWrapper div {
    padding: 0 7rem;
  }
}

/* LARGE SCREENS */

@media (min-width: 80.0625rem) {
  .mobile_btn {
    display: none;
  }
  .navContainer {
    height: 7rem;
    left: 0;
  }

  .logoContainer {
    display: none;
  }

  .linkWrapper {
    flex-direction: row;
    width: 100%;
  }

  .linkWrapper div {
    padding: 0 7rem;
  }

  body {
    border: 2px solid rgb(155, 11, 11);
  }
}
