.navContainer {
  position: fixed;
  display: flex;
  width: 100%;
  left: -100%;
  top: 0;
  height: 100vh;
  background-color: #f8f8f8;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  z-index: 9998;
}

.navActive {
  left: 0;
}

.navFadeIn {
  opacity: 0;
}

.nav {
  opacity: 100;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
}

.fixedMobileNavContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: #f8f8f8;
  z-index: 9998;
  padding: 1rem;
  box-shadow: 0px 18px 57px -5px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 18px 57px -5px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 18px 57px -5px rgba(0, 0, 0, 0.14);
}

.boxShadow {
  box-shadow: 0px 18px 57px -5px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 18px 57px -5px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 18px 57px -5px rgba(0, 0, 0, 0.14);
}

.mobileNavLogoContainer img {
  height: 50px;
  z-index: 9998;
}

.icon {
  color: #0f1c40;
}

.closeIcon {
  z-index: 9999;

  top: 0;
  right: 0;
  padding: 1rem;
}

.linkDesktop {
  display: none;
}

.linkMobile {
  align-items: center;
  margin: auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.linkMobile div {
  color: #0f1c40;
  padding: 1rem;
}

.linkMobile a {
  text-decoration: none;
  color: #0f1c40;
}

.links0 {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0.4s;
  -moz-transition: all 0.3s ease 0.4s;
  transition: all 0.3s ease 0.4s;
}
.links1 {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0.5s;
  -moz-transition: all 0.3s ease 0.5s;
  transition: all 0.3s ease 0.5s;
}
.links2 {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0.6s;
  -moz-transition: all 0.3s ease 0.6s;
  transition: all 0.3s ease 0.6s;
}
.links3 {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0.7s;
  -moz-transition: all 0.3s ease 0.7s;
  transition: all 0.3s ease 0.7s;
}

.linksFadeIn {
  opacity: 100;
}

.navWrapper {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.logo {
  height: 10.125rem;
}

.swirlFwd {
  -webkit-animation: swirl-in-fwd 0.4s ease-out 0.3s both;
  animation: swirl-in-fwd 0.4s ease-out 0.3s both;
}

.swirlRvs {
  -webkit-animation: swirl-in-fwd 0.6s ease-out reverse both;
  animation: swirl-in-fwd 0.6s ease-out reverse both;
}

@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

/* TABLET */

@media (min-width: 48rem) and (max-width: 64rem) {
  .fixedMobileNavContainer {
    display: none;
  }
  .navContainer {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    height: 4rem;
    left: 0;
    transition: top 0.2s;
    box-shadow: 0 10px 30px -10px black;
    backdrop-filter: blur(10px);
  }

  .navFadeIn {
    opacity: 0;
  }

  .nav {
    opacity: 100;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    transition: all ease 1s;
  }
  .navContainerTop {
    background-color: #f8f8f8;
    box-shadow: none;
  }

  .navContainerTop .links a {
    color: #0f1c40;
  }

  .navContainerTop .links a:hover {
    color: gray;
  }
  .closeIcon {
    display: none;
  }

  .links {
    opacity: 100;
  }

  .links a {
    color: gray;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
  }
  .links a:hover {
    color: #ffffff;
  }
  .logoContainer {
    display: none;
  }

  .linkDesktop {
    flex-direction: row;
    width: 100%;
  }

  .linkDesktop div {
    padding: 0 4rem;
  }

  .linkMobile {
    display: none;
  }
  .linkDesktop {
    display: flex;
  }

  .linkDesktop a {
    text-decoration: none;
  }
  .scrollDirection {
    top: -5rem;
  }
}

/* LAPTOP DESKTOP */

@media (min-width: 64.0625rem) and (max-width: 80rem) {
  .fixedMobileNavContainer {
    display: none;
  }
  .navContainer {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    height: 4rem;
    left: 0;
    transition: top 0.2s;
    box-shadow: 0 10px 30px -10px black;
    backdrop-filter: blur(10px);
  }

  .navFadeIn {
    opacity: 0;
  }

  .nav {
    opacity: 100;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    transition: all ease 1s;
  }

  .navContainerTop {
    background-color: #f8f8f8;
    box-shadow: none;
  }

  .navContainerTop .links a {
    color: #0f1c40;
  }

  .navContainerTop .links a:hover {
    color: gray;
  }
  .closeIcon {
    display: none;
  }
  .links {
    opacity: 100;
  }

  .links a {
    color: gray;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
  }
  .links a:hover {
    color: #ffffff;
  }
  .logoContainer {
    display: none;
  }

  .linkDesktop {
    flex-direction: row;
    width: 100%;
  }

  .linkDesktop div {
    padding: 0 7rem;
  }

  .linkMobile {
    display: none;
  }
  .linkDesktop {
    display: flex;
  }

  .linkDesktop a {
    text-decoration: none;
  }
  .scrollDirection {
    top: -5rem;
  }
}

/* LARGE SCREENS */

@media (min-width: 80.0625rem) {
  .fixedMobileNavContainer {
    display: none;
  }
  .navContainer {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    height: 4rem;
    left: 0;
    transition: all 0.2s;
    box-shadow: 0 10px 30px -10px black;
    backdrop-filter: blur(10px);
  }

  .navFadeIn {
    opacity: 0;
  }

  .nav {
    opacity: 100;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    transition: all ease 1s;
  }

  .navContainerTop {
    background-color: #f8f8f8;
    box-shadow: none;
  }

  .navContainerTop .links a {
    color: #0f1c40;
  }

  .navContainerTop .links a:hover {
    color: gray;
  }
  .closeIcon {
    display: none;
  }

  .links {
    opacity: 100;
  }
  .links a {
    color: #0f1c40;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
  }
  .linkMobile {
    display: none;
  }
  .links a:hover {
    color: gray;
  }

  .logoContainer {
    display: none;
  }

  .linkDesktop {
    flex-direction: row;
    width: 100%;
  }
  .linkDesktop {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .linkDesktop div {
    padding: 0 7rem;
  }
  .linkDesktop a {
    text-decoration: none;
  }
  .scrollDirection {
    top: -5rem;
  }
}
