html {
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}

input {
  font-family: arial;
}

body {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  color: #fff;
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  min-height: -webkit-fill-available;
}

.carousel .control-dots .dot {
  background: black !important;
}
