html {
  height: -webkit-fill-available;
}

input {
  font-family: arial;
}

body {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font-family: Gotham, arial;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.5;
  color: #fff;
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}